---
import { SITE_TITLE } from "../consts";
---

<header>
    <div class="hero" style="background-image: url(/assets/back.webp);">
        <div class="hero-overlay bg-opacity-60 pb-28 pt-32"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <a href="/">
                    <div class="bg-primary p-4">
                        <p class="text-5xl text-white">{SITE_TITLE}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
