---
import BaseHead from "../components/BaseHead.astro";

const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
